@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

:root {
  --cyan: hsl(180, 66%, 49%);
  --light-cyan: hsl(180, 66%, 75%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --darker-violet: hsl(260, 8%, 14%);
  --light-violet: hsl(225, 33%, 95%);
}

.main {
  margin: 0 1rem;
}

.text-color {
  color: var(--grayish-violet);
}

.button {
  background-color: var(--cyan);
  padding: 0.5rem 2rem;
  border-radius: 50rem;
  border: none;
  color: white;
}

.button:hover {
  background-color: var(--light-cyan);
}

@media screen and (min-width: 1024px) {
  .main {
    margin: 0 7rem;
  }
}
