.mid-section {
  background: linear-gradient(to bottom, white 50%, var(--light-violet) 50%);
}

.input-section {
  background-color: var(--dark-violet);
  background-image: url('../images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  padding: 1rem;
}

.shorten {
  background-color: var(--cyan);
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
  color: white;
}
