.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  padding-bottom: 0;
}

.navbar-collapse {
  background-color: var(--dark-violet);
  border-radius: 4%;
  padding: 1rem 0;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

hr {
  color: var(--gray);
  width: 90%;
  margin: 1rem auto;
}

.sign-up {
  background-color: var(--cyan);
  padding: 0 5rem;
  border-radius: 50rem;
}
